@import url('https://fonts.googleapis.com/css?family=Poppins:10');
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.mobile
{
    position: relative;
    width: 350px;
    height: 700px;
    background: #020c17;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.top
{
    position: absolute;
    top: 5px;
    height: 15%;
    left: 5px;
    right: 5px;
    background: #f30000;  
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.camera
{
    content: '';
    position: absolute;
    top: 12px;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #ccc;
    border: 2px solid #aaa;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #8c8c8c;
}

.bottom
{
    position: absolute;
    top: 100px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #efefef; 
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;    
}

.mobile-title
{
    position: relative;
    left: 15px;
    top: 20px;
    width: 200px;
    height: 40px;
    background: #f30000;
}

h2
{
    color: #fff;
}