@import url('https://fonts.googleapis.com/css?family=Poppins:10');
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: url(../../images/fulls/09.jpg);
    background-size: cover;
}

.mobile
{
    position: relative;
    width: 350px;
    height: 700px;
    background: #020c17;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.top
{
    position: absolute;
    top: 8px;
    height: 13.1%;
    left: 5px;
    right: 5px;
    background-image: linear-gradient( rgb(42, 41, 47) 0%,rgb(67, 66, 66) 100%);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 10px grey;
    z-index: 1;
}

.notch
{
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: 30px;
    background: #020c17;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px; 
    z-index: 2;
}

.notch:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 75%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 2;
    transform: skewX(-5deg);   
    border-bottom-left-radius: 15px;
}

.bottom
{
    position: absolute;
    top: 100px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #ebebeb; 
    background-image: linear-gradient( rgba(128,128,128,1) 0%, rgba(239,239,239,1) 0.3%, rgba(250,250,250,1) 100%);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;    
}

.mobile-title
{
    position: relative;
    left: 15px;
    top: 13px;
    width: 200px;
    height: 40px;
    z-index: 2;
}

.time
{
    position: absolute;
    top: -10px;
    left: 35px;
    width: 55px;
    height: 15px;
    font-size: 13px;
    color: #efefef;
    z-index: 2;
}

.signal
{
    position: absolute;
    top: 3px;
    right: 20px;
    width: 55px;
    height: 15px;
    font-size: 12px;
    color: #efefef;
    z-index: 2;
}

h2
{
    color: #fff;
    font-weight: 400;
    z-index: 1;
}

.extra-link {
    position: absolute;
    bottom: 20px;
    max-width: 20%;
}

#meta-link {
    left: 20px;
}

#social-link {
    right: 20px;
}

.extra-link a#en-link {
    font-size: 17px;
}

.extra-link a.letters {
    position: relative;
    top: -4px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.extra-link a {
    display: inline-block;
    margin: 0 6px;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}