@import url('https://fonts.googleapis.com/css?family=Poppins:10');
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.mobile
{
    position: relative;
    width: 325px;
    height: 650px;
    background: #efefef;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.top
{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #020c17;  
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
}